@import "leaflet/dist/leaflet.css";
@import "tailwindcss";


/* Leaflet default reset to match our custom style */
.leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
}



.leaflet-popup-tip {
  display: none !important;
}

.leaflet-container {
  background: #fdf6e3 !important; /* Matches watercolor theme */
}


html, body {
  cursor: none; /* Original mouse pointer gayab */
}

/* Lekin inputs par dikhna chahiye taaki typing mein dikat na ho */
input, textarea {
  cursor: auto;
}